@import '_functions.scss';

@font-face {
    font-family: 'Brush Script MT';
    src: url('../fonts/BrushScriptMT.eot');
    src: url('../fonts/BrushScriptMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrushScriptMT.woff2') format('woff2'),
        url('../fonts/BrushScriptMT.woff') format('woff'),
        url('../fonts/BrushScriptMT.ttf') format('truetype'),
        url('../fonts/BrushScriptMT.svg#BrushScriptMT') format('svg');
    font-weight: normal;
    font-style: italic;
}

html, body {
    min-height: 100%;
    background-color: #f8f8f8;
    overflow-x: hidden;
}

body {
    background: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #404040;

    @media screen {
        @media (max-width: 767px) {
            font-size: 15px;
        }
    }
}

textarea:focus, input:focus, select:focus, a:focus {
    outline: none;
}

img {
    max-width: 100%;
	border: none;
}

a {
    color: #404040;
    @include transition();

    &:hover {
        color: #ed1c24;
        text-decoration: none;
    }
}

ul {
	padding: 0;
	margin: 0;
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
    color: #404040;
    font-weight: 700;
}

.container {
    @media screen {
        @media (min-width: 1400px) {
            max-width: 1230px;
        }
    }
}

form {
    .form-group {
        margin: 0 0 15px 0;
        @include transition();
    }

    label {
        display: block;
        margin: 0 0 15px 0;
        line-height: normal;
        font-size: 17px;
        font-family: $raleway;
        font-weight: 700;
        color: #404040;
    }

    .form-control {
        height: 47px;
        padding: 0 15px;
        background: #e8e8e8;
        border: 1px solid transparent;
        font-size: 14px;
        font-weight: 700;
        @include rounded(0);
        @include transition();

        &::-webkit-input-placeholder { 
            color: #434440;
        }

        &::-moz-placeholder {
            color: #434440;
        }

        &:-ms-input-placeholder {
            color: #434440;
        }

        &:-moz-placeholder {
            color: #434440;
        }

        &:focus {
            border-color: #4FBC95;
            box-shadow: none;
            -o-box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }

        &.error {
            border-color: #FF0000 !important;
            color: #FF0000;
        }
    }

    textarea.form-control {
        padding-top: 15px !important;
        min-height: 255px;
    }

    .has-checkbox, .has-radio {
        position: relative;

        input[type="checkbox"], input[type="radio"] {
            display: none;
        }

        label {
            display: block;
            position: relative;
            padding: 0 0 0 29px;
            margin: 0;
            font-size: 13px;
            font-weight: 500;
            color: #BABABA;
            text-transform: none;
            letter-spacing: normal;
            cursor: pointer;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                margin: auto 0;
                width: 18px;
                height: 18px;
                background-color: #F6F6F6;
                @include transition();
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 4px;
                bottom: 0;
                margin: auto 0;
                width: 10px;
                height: 10px;
                background-color: transparent;
                transform: scale(0);
                -o-transform: scale(0);
                -moz-transform: scale(0);
                -webkit-transform: scale(0);
                @include transition();
            }
        }

        input[type="checkbox"]:checked + label,
        input[type="radio"]:checked + label {
            &::after {
                background: #ed1c24;
                transform: scale(1);
                -o-transform: scale(1);
                -moz-transform: scale(1);
                -webkit-transform: scale(1);
            }
        }

        &.check-icon {
            label {
                &::after {
                    left: 6px;
                    width: 14px;
                    height: 11px;
                    transform: scale(1);
                    -o-transform: scale(1);
                    -moz-transform: scale(1);
                    -webkit-transform: scale(1);
                    opacity: 0;
                }
            }

            input[type="checkbox"]:checked + label,
            input[type="radio"]:checked + label {
                &::after {
                    background: url('../img/checked-icon.png') center center no-repeat;
                    opacity: 1;
                }
            }
        }
    }
}

.bootstrap-select {
    width: 100% !important;

    .dropdown-toggle {
        height: 47px;
        padding: 0 35px 0 15px;
        border: 1px solid #e8e8e8;
        background: #fff !important;
        color: #8e8e8e;
        font-size: 17px;
        font-weight: 400;
        outline: none !important;
        box-shadow: none;
        outline: none !important;
        @include rounded(0);

        .filter-option {
            width: auto;
            margin: 0;
            color: #8e8e8e;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 13px;
            bottom: 0;
            width: 15px;
            height: 10px;
            margin: auto 0;
            border: 0;
            background: url('../img/select-arrow.svg') 0 0 no-repeat;
            @include transition();
        }
    }

    .dropdown-menu {
        padding: 0;
        border: 1px solid #e8e8e8;
        background: #fff;
        @include rounded(0);

        li {
            a {
                padding: 8px 15px;
                font-size: 14px;
                font-weight: 600;

                &:active {
                    background: #000;
                }
            }

            &.selected {
                a {
                    background-color: #ee161f;
                }
            }
        }
    }

    &.show {
        .dropdown-toggle {
            background: none;

            &::after {
                transform: rotate(-180deg);
                -o-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -webkit-transform: rotate(-180deg);
            }
        }
    }
}

.btn {
    &.btn-primary {
        padding: 0 45px;
        line-height: 55px;
        background-color: #c6cf00;
        border: 0;
        font-family: $raleway;
        font-weight: 700;
        font-size: 17px;
        color: #fff !important;
        cursor: pointer;
        outline: none !important;
        cursor: pointer;
        @include rounded(0);

        @media screen {
            @media (max-width: 767px) {
                line-height: 50px;
                padding: 0 35px;
                font-size: 16px;
            }
        }

        @media screen {
            @media (min-width: 992px) {
                &:hover {
                    background-color: #ed1c24;
                }
            }

            @media (max-width: 991px) {
                background-color: #c6cf00;
            }
        }

        &:not(.disabled) {
            &:focus, &:active {
                box-shadow: none !important;
                -o-box-shadow: none !important; 
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
            }

            &:active {
                background-color: #ed1c24;
                border-color: transparent;
                color: #fff;
                box-shadow: none;
                -o-box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }
        }
    }
}

.owl-carousel {
    .owl-item {
        img {
            width: auto;
            max-width: 100%;
        }        
    }
}

@import '_header.scss';
@import '_content.scss';
@import '_footer.scss';